@mixin button($size){
    border-radius: 12px;
    font-size: 20px;
    background-color: $button-color;
    &:hover{
        cursor: pointer;
        background-color: darken($button-color, 50%);
    }
}