@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
$text-big: 40px;
$text-small: 16px;
$title-font: 'Martel', serif;
$paragraph-font: 'Merriweather', serif;