@import "./vendor/normalize";
@import "./partials/colors";
@import "./partials/typography";
@import "./partials/mixin";
@import "./partials/margins";

@media (min-width: 1024px) {

    h1{
        color: green;
        margin: $normal-margin;
        font-size: $text-big;
        font-family: $title-font;
    }
    
}

@media (max-width: 1023px){
    h1{
        color: red;
        margin: $normal-margin;
        font-size: $text-big;
        font-family: $title-font
    }
}
nav{
    background-color: $primary-color;
    margin: $normal-margin;
    font-family: $paragraph-font;
    font-size: $text-small;
}

.btn{
    @include button(10px);
}